# [作業目標]
- 利用範例的創建方式, 創建一組資料, 並練習如何取出最大值

# [作業重點]
- 練習創立 DataFrame (In[2])
- 如何取出口數最多的國家 (In[3], Out[3])

## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [9]:
import pandas as pd
import numpy as np

In [10]:
df = pd.DataFrame(index=range(5), columns=['國家', '人口(十萬)'])

for i in range(len(df)):
  df.values[i] = ['NaN', np.random.randint(1000)]

df.values[0, 0] = 'A'
df.values[1, 0] = 'B'
df.values[2, 0] = 'C'
df.values[3, 0] = 'D'
df.values[4, 0] = 'E'

In [11]:
df

  國家 人口(十萬)
0  A    663
1  B    304
2  C    551
3  D     25
4  E    516